//Colors

$lightRed: hsl(356, 100%, 66%); // CTA text
$veryLightRed: hsl(355, 100%, 74%); // CTA hover background
$darkBlue: hsl(208, 49%, 24%); // headings
$white: hsl(0, 0%, 100%); // text
$grayishBlue: hsl(240, 2%, 79%); // footer text
$darkBlackBlue:  hsl(240, 10%, 16%); //footer background
